{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test App</title>
</head>
<body>
    <div class="wrapper">
        <form action="{{ app_path }}" method="post" id="login_form">
            {% csrf_token %}
            {{ form }}
            <div class="form-submit">
                <button type="submit" class="submit-button">
                    ログイン
                </button>
            </div>
        </form>
    </div>
</body>
</html>