{% extends 'myapp/base.html' %}
{% load static widget_tweaks %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block header %}
<div class="is-flex">
    <a href="{% url 'myapp:mypage' %}" class="back mr8">
        <i class="fa-solid fa-angle-left fa-2x"></i>
    </a>
    <div class="is-flex align--center">
        <h1 class="fz24 is-bold">
            ユーザー情報の変更
        </h1>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="wrapper">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-element">
            <label for="{{ form.username.id_for_label }}" class="form-label">
                ユーザー名
            </label>
            {% render_field form.username class+="form-input fz16" %}
        </div>
        <div class="form-element">
            <label for="{{ form.image.id_for_label }}" class="form-label">
                画像
            </label>
            {% render_field form.image class+="form-image" %}
        </div>
        <button type="submit" class="submit fz16">
            変更
        </button>    
    </form>
</div>
{% endblock %}

{% block footer_wrapper %}
{% endblock %}