


<link href="https://d33whrdjw5ofau.cloudfront.net/static/main/css/main.7011a6596d3e.css" rel="stylesheet" type="text/css" media="all" />
<!DOCTYPE html>
<html lang="ja">

<head>

    <!-- Google Tag Manager -->
    <!-- <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWTL265');
    </script> -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5Z2TP9F');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Ads: 10860938276 -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10860938276"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-10860938276');
    </script> -->

    
    

    <!-- YDA tag -->
    <!-- <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
        window.yjDataLayer = window.yjDataLayer || [];
        function ytag() { yjDataLayer.push(arguments); }
        ytag({ "type": "ycl_cookie" });
    </script> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    
    <meta name="description" content="京都大学のITベンチャーと45年間の実績を持つ学習塾が共同で、中学生・高校生に社会に通用する実践的なプログラミング教育を提供する。">
    <meta property="og:description" content="京都大学のITベンチャーと45年間の実績を持つ学習塾が共同で、中学生・高校生に社会に通用する実践的なプログラミング教育を提供する。" />
    <meta name="twitter:description" content="京都大学のITベンチャーと45年間の実績を持つ学習塾が共同で、中学生・高校生に社会に通用する実践的なプログラミング教育を提供する。" />
    
    
    <meta name=”keywords” content=”ウェブサイト,プログラミング,教育”>
    
    
    <meta property="og:image" content="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/ogp_image.50dae53d572d.svg" />
    <meta name="twitter:image" content="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/ogp_image.50dae53d572d.svg" />
    
    <meta property="og:title" content="BeEngineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://be-engineer.tech" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@DeMiA_Inc" />
    <meta name="twitter:creator" content="@DeMiA_Inc" />
    <meta name="twitter:title" content="BeEngineer" />
    <link rel="icon" href="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/favicon.0c8d529196c4.svg" type="image/svg+xml">
    <link rel="canonical" href="https://be-engineer.tech">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap" rel="stylesheet">
    
<title>講師</title>

    
    
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWTL265" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript> -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z2TP9F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
        <header>
            


<div
    class="header_block ">
    
    <img class="menu_triangle with_pc" src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/menu_triangle_pc.5de5d945754a.svg">
    <img class="menu_triangle with_res" src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/menu_triangle_s-p.9a6f0c28517e.svg">
    <!-- <p class="menu_button">
        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/menu_black_32dp.e6c26f65fa2e.svg">
    </p> -->
    <div class="hamburger hamburger--slider menu_button">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    
    <a href="/">
        <img class="left_logo" src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/logo_white.e4d6d16f8eb4.svg">
    </a>
    <div class="header_top">
        <span class="sub_headline">
            &lt;teacher&gt;<br>
        </span>
        <h1>講師</h1>
    </div>
    
    
    

<div class="menu_wrapper" id="menu_wrapper">
  <a href="/">
    <div class="logo">
      <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/logo_color.99a7290d2be1.svg">
    </div>
  </a>
  <!-- <div class="close_button">
        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/close_black_32dp.7225f5758d9f.svg">
    </div> -->
  <div class="menu_content">
    <nav>
      <ul>
        <li>
          <a href="/service">
            <div class="small_headline">
              &lt;about BeEn&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>BeEnとは？</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/content">
            <div class="small_headline">
              &lt;content&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>学習内容</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/price">
            <div class="small_headline">
              &lt;price&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>料金</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/teacher-list">
            <div class="small_headline">
              &lt;teacher&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>講師</span>
            </div>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/event-list">
            <div class="small_headline">
              &lt;event&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>イベント・特訓授業</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/school-list">
            <div class="small_headline">
              &lt;school&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>校舎一覧</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/news-list">
            <div class="small_headline">
              &lt;news&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>お知らせ</span>
            </div>
          </a>
        </li>
        <li>
          
          <a href="/accounts/login/">
            <div class="small_headline">
              &lt;log in&gt;
            </div>
            <div>
              <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_black_20dp.849b06bd5e25.svg">
              <span>ログイン</span>
            </div>
          </a>
          
        </li>
      </ul>
    </nav>
    <a href="/event-list?category=体験会">
      <div class="link_button">
        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
        <span>体験会に参加する</span>
      </div>
    </a>
    <a href="/accounts/temporary-registration?apply=lesson" >
      <div class="link_button">
        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
        <span>入会を申し込む</span>
      </div>
    </a>
  </div>
</div>

</div>

        </header>
        <main>
            
<div class="instructor_content">
  <div class="content_block section_block">
    <div class="content_wrapper">
      <p class="sub_headline">&lt;name&gt;</p>
      <div class="content_text_wrapper">
        <p class="name_title">【名前】</p>
        <p class="instructor_name">井ノ本洋斗</p>
      </div>
    </div>
    <div class="content_wrapper instructor_image_wrapper">
      <img src="https://d33whrdjw5ofau.cloudfront.net/media/instructor/retouch_IMG_20230207_010410.jpg">
    </div>
    
    <div class="content_wrapper">
      <p class="small_headline">&lt;belong&gt;</p>
      <div class="content_text_wrapper">
        <p class="content_title">【所属】</p>
        <p class="content_text">京都大学工学部電気電子工学科</p>
      </div>
    </div>
    
    <div class="content_wrapper">
      <p class="small_headline">&lt;hobby&gt;</p>
      <div class="content_text_wrapper">
        <p class="content_title">【趣味】</p>
        <p class="content_text">小さなケーキ屋さんめぐり、最近バドミントン始めました</p>
      </div>
    </div>
    <div class="content_wrapper">
      <p class="small_headline">&lt;favorite subject&gt;</p>
      <div class="content_text_wrapper">
        <p class="content_title">【得意な科目】</p>
        <p class="content_text">数学、物理、化学</p>
      </div>
    </div>
    <div class="content_wrapper">
      <p class="small_headline">&lt;passion&gt;</p>
      <p class="content_title title_margin_bottom">【教えるにあたっての思い】 </p>
      <p class="content_text">どれだけ価値のあることでも、興味がなければ前向きに勉強するのは難しいものです。なので、学びよりも先に「その先にどんな面白いことが待っているのか」を伝えることにこだわっています。   日本・世界をリードするようなエンジニアがBeEngineerから輩出することが僕の野望です！そのための授業を作っていくので、ついてきてください！</p>
    </div>
    <div class="content_wrapper">
      <p class="small_headline">&lt;classroom&gt;</p>
      <p class="content_title title_margin_bottom">【担当校舎】</p>
      <ul class="school_container">
        
        <a href="/school-detail/1" class="school_name button"
          data-school_code="1">京大本校</a>
        
      </ul>
    </div>
  </div>
</div>

        </main>
        <footer>
            


<div class="footer_block">
        
        
        <nav class="main_nav">
                <div class="rotate_wrapper">
                        <img class="logo" src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/logo_white.e4d6d16f8eb4.svg">
                        <ul>
                                <li>
                                        <a href="/">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>トップ</span>
                                        </a>
                                </li>
                                <li>
                                        <a href="/service">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>BeEnとは？</span>
                                        </a>
                                </li>
                                <li>
                                  <a href="/content">
                                    <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                    <span>学習内容</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/price">
                                    <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                    <span>料金</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/teacher-list">
                                    <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                    <span>講師</span>
                                  </a>
                                </li>
                                <li>
                                        <a href="/event-list">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>イベント・特訓授業</span>
                                        </a>
                                </li>
                                <li class="detail_link">
                                        <a href="/event-list?category=体験会">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>体験会</span>
                                        </a>
                                </li>
                                <li class="detail_link">
                                        <a href="/event-list?category=特訓授業">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>特訓授業</span>
                                        </a>
                                </li>
                                <li class="detail_link">
                                        <a href="/event-list?category=イベント授業">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>イベント授業</span>
                                        </a>
                                </li>
                                <li>
                                        <a href="/school-list">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>校舎一覧</span>
                                        </a>
                                </li>
                                <li>
                                        <a href="/news-list">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>お知らせ</span>
                                        </a>
                                </li>
                                <li>
                                        
                                        <a href="/accounts/login/">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>ログイン</span>
                                        </a>
                                        
                                </li>
                                <li>
                                        <a href="/contact">
                                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_white_17dp.03cde59b03c5.svg">
                                                <span>お問い合わせ</span>
                                        </a>
                                </li>
                        </ul>
                        <a class="link_button" href="/event-list?category=体験会">
                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_green_17dp.c745f4ca2115.svg">
                                <span>体験会に参加する</span>
                        </a>
                        <a class="link_button" href="/accounts/temporary-registration?apply=lesson" >
                                <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/arrow_forward_green_17dp.c745f4ca2115.svg">
                                <span>入会を申し込む</span>
                        </a>
        </nav>
        <nav class="sub_nav">
                <ul>
                        <li class="caption">
                                <a href="https://demia.co.jp/" target="_blank">
                                        <span>運営会社</span>
                                        <img src="https://d33whrdjw5ofau.cloudfront.net/static/main/svg/open_in_new_white_16dp.9971b2b69cce.svg">
                                </a>
                        </li>
                        <li class="caption">
                                <a href="/privacy_policy" target="_blank">
                                        <span>プライバシーポリシー</span>
                                </a>
                        </li>
                        <li class="caption">
                                <a href="/terms_of_service" target="_blank">
                                        <span>サービス利用規約</span>
                                </a>
                        </li>
                        <li class="caption">
                                <a href="/special_commercial_law_notation" target="_blank">
                                        <span>特定商取引法に基づく表記</span>
                                </a>
                        </li>
                </ul>
        </nav>
</div>



        </footer>
        <script src="https://d33whrdjw5ofau.cloudfront.net/static/main/js/components/menu_handler.aa82604270e5.js"></script>
        

    </div>
    <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
      window.yjDataLayer = window.yjDataLayer || [];
      function ytag() { yjDataLayer.push(arguments); }
      ytag({
        "type":"yjad_retargeting",
        "config":{
          "yahoo_retargeting_id": "T32G3IABBE",
          "yahoo_retargeting_label": "",
          "yahoo_retargeting_page_type": "",
          "yahoo_retargeting_items":[
            {item_id: '', category_id: '', price: '', quantity: ''}
          ]
        }
    });
    </script>
</body>

</html>
